/*
Author: Neil Panchal
http://neil.engineer
*/

/* GLOBALS */

html {
    font-size: 14px !important;
}

body {
    background-color: #FFF !important;
    color: #676767;
    font-weight: 1rem;
    font-family: 'Roboto Mono', Monaco, Consolas, monospace;
}

body .notebook-app {
    background-color: #FFF !important;
}

#header {
    box-shadow: none !important;
}

#notebook {
    padding-top: 0px;
}

#notebook-container {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 10px;
    background: #FFF;
}

/* Looks neat, but the 1px cell shift on selection absolutely kills me. */

div.cell.selected {
   border: 0pt dashed #CCCCCC;
    background: #FFFBF5;

}
div.cell.selected:before {
    border: 0pt dashed #CCCCCC;
    background: #fff;
}
div.cell.selected:after {
    border: 0pt dashed #CCCCCC;
    background: #fff;
}

.edit_mode div.cell.selected {
   border: 0pt;
   background: #FFFBF5;
   border-color: #fff;
}

div.output_wrapper {
    margin-top: 8px;
}

a {
    color: #383838;
}

code,
kbd,
pre,
samp {
    font-family: 'Menlo', monospace !important;
    font-size: 0.75rem !important;
}

h1 {
    font-size: 1.5rem !important;
    font-weight: 300 !important;
    color: #676767 !important;
    letter-spacing: 3px !important;
    text-transform: uppercase !important;
    /*border-bottom: 1px dashed #000000 !important;*/
}

h2 {
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    color: #676767 !important;
    letter-spacing: 3px !important;
    text-transform: uppercase !important;
}

h3 {
    font-size: 1rem !important;
    font-weight: 300 !important;
    font-style: italic !important;
    display: block !important;
}

h4,
h5,
h6 {
    font-size: 1rem !important;
    font-weight: 500 !important;
    display: block !important;
}

.prompt {
    font-family: 'Menlo', monospace !important;
    font-size: 0.75rem;
    text-align: right;
    line-height: 1.21429rem;
}

/* INTRO PAGE */

.toolbar_info,
.list-container {
    color: #676767;
}
/* NOTEBOOK */

div#header-container {
    display: none !important;
}

div#notebook {
    border-top: none;
    font-size: 1rem;
}

div.input_prompt {
    color: gray;
}

.code_cell div.input_prompt:after,
div.output_prompt:after {
    content: '\25b6';
}

div.output_prompt {
    color: #2B88D9;
}

div.input_area {
    border-radius: 0px;
    border: 1px solid #EAEAEA;
    background: #F7F7F7;
}

div.output_area pre {
    font-weight: normal;
    color: black;
}

div.output_subarea {
    font-weight: normal;
    color: #676767;
}

.rendered_html pre,
.rendered_html code {
    color: #676767;
}

.rendered_html table,
.rendered_html th,
.rendered_html tr,
.rendered_html td {
    border: 1px #676767 solid;
    font-size: 0.75rem;
    font-family: 'Menlo', monospace;
}

.rendered_html th,
.rendered_html tr,
.rendered_html td {
    padding: 5px 10px;
}

.rendered_html th {
    font-weight: normal;
    background: #f8f8f8;
}

div.output_html {
    font-weight: 1rem;
    font-family: -apple-system, Helvetica, Arial, sans-serif;
}

table.dataframe tr {
    border: 1px #CCCCCC;
}

div.cell.selected {
    border-radius: 0px;
    background: none;
}

div.cell.edit_mode {
    border-radius: 0px;
    border: thin solid #CF5804;
}

div.text_cell_render,
div.output_html {
    color: #676767;
}

span.ansiblack {
    color: #676767;
}

span.ansiblue {
    color: #33595d;
}

span.ansigray {
    color: #d8d8d8;
}

span.ansigreen {
    color: #2c5a32;
}

span.ansipurple {
    color: #b833a1;
}

span.ansired {
    color: #df1921;
}

span.ansiyellow {
    color: #D9AA00;
}

span.ansicyan {
    color: #508187;
}

/*div.output_stderr {
    background-color: #D43132;
}

div.output_stderr pre {
    color: #e8e8e8;
}*/

.cm-s-ipython.CodeMirror {
    background: #FAFAFA;
    color: black;
}

.cm-s-ipython div.CodeMirror-selected {
    background: #e8e8e8 !important;
}

.cm-s-ipython .CodeMirror-gutters {
    background: #F8F8F8;
    border-right: 0px;
}

.cm-s-ipython .CodeMirror-linenumber {
    color: #9b9b9b;
    font-size: 0.7rem;
    font-family: monospace;
}

.cm-s-ipython .CodeMirror-cursor {
    border-left: 1px solid #585858 !important;
}

/* Syntax highlighting */
.cm-s-ipython span.cm-comment { color: #949494; } /* Comments */
.cm-s-ipython span.cm-number { color: #4A4A4A; } /* Constant numbers */
.cm-s-ipython span.cm-meta { color: #77492d; } /* @classmethod in class definitions, for instance */
.cm-s-ipython span.cm-property,
.cm-s-ipython span.cm-keyword { font-weight: normal; color: #0D810D; } /* Keyword: function definition, variable, etc. */
.cm-s-ipython span.cm-string { color: #BA2121; } /* Constant strings */
.cm-s-ipython span.cm-operator { color: #558FE7; font-weight: normal; }
.cm-s-ipython span.cm-builtin { color: #3d237f; } /* Built in function or module */
.cm-s-ipython span.cm-variable { color: #4A4A4A; }
.cm-s-ipython span.cm-variable-2 { color: #4A4A4A; }
.cm-s-ipython span.cm-variable-3 { color: #4A4A4A; }
.cm-s-ipython span.cm-def { color: black; } /* Name of the function in definition */
.cm-s-ipython span.cm-error { background: #ffd0bf; color: black; } /* Code highlighted as containing error */
.cm-s-ipython span.cm-bracket { color: black; }
.cm-s-ipython span.cm-link { color: #1b42fb; }
.cm-s-ipython .CodeMirror-matchingbracket { font-weight: bold; color: black !important; }

/* Syntax highlighting that is not currently overridden */

/*
.cm-s-ipython span.cm-storage { color: red; }
.cm-s-ipython span.cm-entity { color: red; }
.cm-s-ipython span.cm-tag { color: red; }
.cm-s-ipython span.cm-atom { color: red; }
.cm-s-ipython span.cm-attribute { color: #688A0A; }
.cm-s-ipython span.cm-string-2 { color: red; }
.cm-s-ipython span.cm-qualifier { color: red; }
.cm-s-ipython span.cm-header { color: red; }
.cm-s-ipython span.cm-quote { color: red; }
.cm-s-ipython span.cm-hr { color: transparent; border-top: 1px solid red; display: block; }
.cm-s-ipython span.cm-special { color: red; }
.cm-s-ipython span.cm-em { color: red; text-decoration: underline; text-decoration-style: dotted; }
.cm-s-ipython span.cm-strong { color: red; }
.cm-s-ipython span.cm-tab:before { content: "âž¤"; color: red; position:absolute; }
.cm-s-ipython span.cm-invalidchar { color: red; border-bottom: 1px dotted red; }
*/